body {
    position: relative;
   
 }

 .container { 
   background-color: #A4A9AD;
   height: 100vh;
   width: 100vw;
 }
 .nav-container {
   height: 10vh;
   width: 100vw;
   /* background-color: #DED6D6; */
    display: grid;
   grid-template-columns: repeat(4, 1fr);  
 }
 .nav-container div{
   display:flex;
   justify-content: center;
   align-items:center;
 }
 /* =================HOME================ */
 #home-container {
   height: 100vh;
   /* background: lavender; */
 }
  /* =================PORTFOLIO================ */

 #portfolio-container {
   height: 100vh;
   /* background: pink; */
   
 }
 .portfolio-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 5%;
   height: 100%;
 }
 .portfolio-item {
    background-color:#20A39E;
 }
 .portfolio-item-1 {
    grid-row: span 2;
 }
 .portfolio-item-4 {
    grid-column: span 2;
 }
 .project1 {
   width: 100%;
   height: 100%;
 }
  /* =================ABOUT================ */

 #about-container{
   /* background: lavender; */
   height: 100vh;
 }
.about-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 5%;
    grid-gap: 10px;
}
.about-item {
    background-color: blue;
}

  /* =================CONTACT================ */

 #contact-container{
   /* background: pink; */
   height: 100vh;
 }
 .contact-grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   height: 100%;
   padding: 5%;
 }
 .contact-item {
   background-color: blue;
 }

 .contact-item-3 {
   grid-column: span 2;
 }